*{
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}

h1
{
    background-color: salmon;
    color: white;
}

img
{
    width:300px;
    height: 200px;
}
section
{
    display: flex;
    border: 1px solid black;
}